.box{
    max-width: 318px;
    height: 190px;
    margin: 2px;
    background: #FDA006;
    /* position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px; */
}

.dashboard_tile{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
                             
}

.icon_title{
    display: flex;
    margin: 5px;
    justify-content: space-between;
}
.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.line{
   
    background: white;
    height: 5%;
    width: 90%;
    margin: auto;
    border-radius: 5px ;
}

.sub_line{
    background: #FF7900;
    width: 50%;
    height: 100%;
    border-radius: 5px ;
    float: right;
}

.value{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 48px;
padding-right: 10px;
/* identical to box height */

text-align: end;

color: #FFFFFF;
}

.foot{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;

margin-right: 10px;
margin-left: 10px;
display: flex;
justify-content: space-between;

color: rgba(255, 255, 255, 0.84);
}